/* styles for the W Button */

.w-button {
  background-color: var(--green-medium);
  color: var(--tan-light);
  border: 2px solid var(--green-dark);
  border-radius: 16px;
  padding: 0.5rem 1.5rem;
  max-width: max-content;
}