/* styles for the W Button */

.w-button {
  background-color: var(--green-light);
  color: var(--tan-dark);
  border: 2px solid var(--tan-medium);
  border-radius: 16px;
  padding: 0.5rem 1.5rem;
  max-width: max-content;
  cursor: pointer;

  &:hover {
    background-color: var(--green-dark);
    color: var(--tan-light);
    border-color: var(--tan-light);
  }
}