:root {
  --green-light: #def3cb;
  --green-medium: #676A57;
  --green-dark: #3E4034;
  --tan-light: #E2D1C5;
  --tan-medium: #FFD4A8;
  --tan-dark: #553F28;
  --complimentary-purple: #816295;
  --complimentary-purple-dark: #3B3440;
  --complimentary-blue: #A8EBFF;
  --complimentary-blue-dark: #132f38;
  --gray-light: #F5F5F5;
  --gray-medium: #7c7c7c;
  --gray-dark: #333333;
  --primary-green: var(--green-dark);
  --primary-tan: var(--tan-light);
  --border-radius: 30px;
  --font-size: 16px;
  --line-height: 1.5;
  --font-weight: 400;
  --text-color: var(--tan-light);
  --link-color: #646cff; 
  --background-color: var(--gray-dark);
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --card-bg-color: var(--gray-medium);
  --header-bg-color: var(--green-dark);
  --header-padding: 0.5rem;
  --body-padding: 1rem;
  --body-margin: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--gray-dark);
    --foreground: var(--tan-light);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family-raleway);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--text-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

img, picture, svg, video {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 4.209em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 3.157em;
  font-weight: 600;
}

h3 {
  font-size: 2.369em;
  font-weight: 500;
}

h4 {
  font-size: 1.777em;
  font-weight: 500;
}

h5 {
  font-size: 1.333em;
}

p {
  font-family: var(--font-family-cabin);
  font-size: 1em;
}
