.homePage {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 60px;
  font-family: var(--font-family-raleway);
  /* background-color: var(--background); */
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: var(--green-dark);
    --foreground: var(--gray-dark);

    --text-primary: var(--tan-light);
    --text-secondary: var(--green-medium);

    --button-primary-hover: var(--complimentary-blue);
    --button-secondary-hover: var(--complimentary-blue-dark);
    --button-secondary-border: var(--complimentary-blue-dark);
  }
}
