.homePage {
  /* --background: var(--background-color);
  --foreground: ;
  --text-primary: var(--text-color);
  --text-secondary: var(--green-medium);
  --button-primary-hover: var(--complimentary-blue);
  --button-secondary-hover: var(--complimentary-blue-dark);
  --button-secondary-border: var(--complimentary-blue-dark);
*/

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 120px 60px;
  font-family: var(--font-family-raleway);
  /* background-color: var(--background); */
}

/* legacy */
/* .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 24px;
  width: max-content;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
} */

/* .ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}
 */
a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: var(--green-dark);
    --foreground: var(--gray-dark);

    --text-primary: var(--tan-light);
    --text-secondary: var(--green-medium);

    --button-primary-hover: var(--complimentary-blue);
    --button-secondary-hover: var(--complimentary-blue-dark);
    --button-secondary-border: var(--complimentary-blue-dark);
  }
}
