/* Production page styles */

.productionPage {
  text-align: center;
}

.selectionList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--green-dark);
  padding: 1rem;
  margin: 1rem auto;
  max-width: 30%;

  h5 {
    margin-bottom: 0.5rem;
  }
}

.checkboxList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    width: max-content;
  }
}
